<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Todo-App</title>
</head>

<body>
    <div class="mainDiv">
        <%- include('header.ejs') %>
        <h5>Welcome to the To-Do Manager</h5>
        <p>New here? <a href="/signup" class="bg-lime-300">Sign Up Here</a></p>
        <p>Have Account? <a href="/login" class="bg-lime-300">Login Here</a></p>

        <%- include('footer.ejs') %>
    </div>
</body>

</html>
