
<section id="Overdue">
    <ul>
      <% overdue.forEach(todo => { %>
        <li><%= todo.title %></li>
      <% }); %>
    </ul>
  </section>
  <section id="Due Today">
    <ul>
      <% duetoday.forEach(todo => { %>
        <li><%= todo.title %></li>
      <% }); %>
    </ul>
  </section>
  <section id="Due Later">
    <ul>
      <% duelater.forEach(todo => { %>
        <li><%= todo.title %></li>
      <% }); %>
    </ul>
  </section>
